.todoItem {
  padding: 12px 16px;
  border-bottom: 1px solid #7d7d7d;
  background-color: var(--background);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f0f0f0;
    color: black;
  }

  &:last-child {
    border-bottom: none;
  }
}

.title {
  margin-left: 1rem;
}
