.spiner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.4rem solid #f3f3f3;
  border-top: 0.4rem solid #3498db;
  border-radius: 50%;
  overflow: hidden;
  color: transparent;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

.small {
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #f3f3f3;
  border-top: 0.2rem solid #3498db;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
